body{
    margin: 0;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
    
}
.estudios, .contactos, .proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(230, 213, 173);
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}
.portafolio{
    align-items: center;
    width: 60%;
    height: 70px;
    display: flex;

    font-size: 30px;
}
.profile-img{
    margin-top: 10px;
    justify-content: center;
    display: flex;
}
.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.acerca{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(173, 216, 230, 0.452);
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}
.principal-info{
    display: flex;
    background-color: rgba(173, 216, 230, 0.452);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}
.exp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.exp-laboral{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: rgba(173, 216, 230, 0.452);
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}
.exp-laboral h3, .exp-laboral p{
    margin: 0%;
    padding: auto;
}
/*Estudios*/
.perma-info{
    display: flex;
    flex-direction: row;
    background-color: rgba(173, 216, 230, 0.452);
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    margin: 10px 5px 0 5px;
    justify-content: space-between;
}
.perma-info i{
margin: 15px;
}
.imguser{
    margin: 5px;
}
.bluebox{
    background-color: rgba(173, 216, 230, 0.452);
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 5px;

}
.estudio{
    display: flex;
    flex-direction: column;
}
.estudio p{
    margin: 0;
}
.boton{
    margin: 20px 0 0 20px;
}
#boton-basica{
    border: none;
    background-color: #04aa6d8a;
    border-radius: 20px;
    cursor: pointer;

    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
}
#boton-media{
    border: none;
    background-color: #04aa6d8a;
    border-radius: 20px;
    cursor: pointer;

    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
}
#boton-superior{
    border: none;
    background-color: #04aa6d8a;
    border-radius: 20px;
    cursor: pointer;

    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
}
#boton-otros{
    border: none;
    background-color: #04aa6d8a;
    border-radius: 20px;
    cursor: pointer;

    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
}
.contenedor-edu{
    display: flex;
    flex-direction: row;
}


@media (max-width: 950px) {
    
    .navbar{
        flex-direction: column;
        width: 100%;
    }
    .portafolio{
        flex-direction: column;
        width: 100%;
        height: 100px;
    }
    .estudios, .contactos, .proyectos{
        margin-bottom: 5px;
    }
    .exp{
        flex-direction: column;
    }
    /*estudios*/
    .perma-info{
        flex-direction: column;
    }
    
}
@media (max-width: 450px){
    .centrado{
        flex-direction: column;
    }
}



/* 
.content{
    display: flex;
    width: 100%;
    
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.content-map iframe{
    width: 100%;
}
@media (max-width: 950px) {
    .content{
        flex-direction: column;
    }
    .content-map iframe{
        width: 100%;
        height: 300%;
    }
}
@media (max-width: 400px) {
    .content-map iframe{
        width: 100%;
        height: 200%;
    }
    .content-nav{
        flex-direction: column;
        width: 100%;
    }
}
*/